
# Ren'py logging
errors.txt
traceback.txt
log.txt

# Ren'py compiled files
*.rpyc

# Ren'py runtime
*.save
game/saves
game/cache

# Python objects
*.py[co]

# Heavy assets
game/audio/
game/characters/sprites/
game/images/
